html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
  background-image: url("../images/stars-unsplash.jpg");
  background-color: $forest-35;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  /*background-color: $cream;*/
  margin: 0;
  & .sr-only {
    position: absolute;
    left: -150px;
  }
}

.hidden {
  display: none;
}
/*HEADER*/
header {
  padding: 1rem 2rem;
  height: 16rem;
  margin-top: 0;
  /*background-color: $forest;
  background-blend-mode: hard-light; */
  & h1 {
    font-family: $font-syne;
    color: $cream;
    /*mix-blend-mode: exclusion;*/
    font-size: 3.5rem;
  }

  & .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  }
}

.sticky {
  background-color: $black-85;
  position: fixed;
  z-index: 1000;
  padding-bottom: 2rem;
  height: 6rem;
  width: 100%;
  top: 0;
  border-radius: $border-outer-bottom;
  border-bottom: 1px $forest solid;
  background-color: $black;
  box-shadow: $shadow-1;
  animation-name: stickyHeader;
  animation-duration: 350ms;
  animation-timing-function: linear;
  animation-direction: normal;

  & h1 {
    font-size: 1.5rem;
  }
}

.sticky + nav {
  padding-top: 8rem;
}
/*still trying to get this to work... */
.unstick {
  animation-name: unstickHeader;
  animation-direction: normal;
  animation-duration: 350ms;
  //animation-delay: 0ms;
  animation-timing-function: ease-out;
  margin-bottom: 1rem;

  & h1 {
    font-size: 3.5rem;
  }
}
@keyframes stickyHeader {
  0% {
    height: 16rem;
    font-size: 0.5rem;
    border-radius: $border-outer-bottom;
    border-bottom-color: $forest;
    box-shadow: $inner-shadow;
  }

  35% {
    background-color: $black-35;
  }

  85% {
    background-color: $black-85;
  }

  100% {
    height: 6rem;
    border-radius: $border-outer-bottom;
    border-bottom: 1px $forest solid;
    background-color: $black;
  }
}
@keyframes unstickHeader {
  0% {
    height: 6rem;
    font-size: 0.5rem;
    border-radius: $border-outer-bottom;
    border-bottom: 1px $forest solid;
    background-color: $black;
  }

  35% {
    background-color: $black-35;
    border-bottom: 1px $forest solid;
  }

  85% {
    background-color: $black-35;
    border-bottom: 1px $forest solid;
  }

  100% {
    height: 16rem;
    border-radius: $border-outer-bottom;
    box-shadow: $inner-shadow;
    font-size: 3.5rem;
  }
}
/*NAVIGATION*/
nav {
  height: 2em;
  padding: 0 15rem;

  & .container {
    background-color: $steel;
    border-radius: $border-outer;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: inherit;
    padding: 1rem;

    & .nav-item {
      font-family: $font-inter;
      color: $grass;
      // padding: 1rem 3rem;
      text-align: center;
      font-weight: 400;
      text-decoration: none;
      animation: linkhover-exit;
      animation-duration: 500ms;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
    /*hover on nav links background appear*/
    & .nav-item:hover {
      color: $cream;
      animation-name: linkhover;
      animation-duration: 300ms;
      animation-delay: 25ms;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
    /*KEY FRAMES FOR NAV LINKS - ON HOVER EXPAND PADDING AND BG COLOR, ON EXIT REMOVE*/
    @keyframes linkhover {
      0% {
        background-color: $charcoal-35;
      }

      100% {
        border-radius: $border-inner;
        background-color: $charcoal-35;
        box-shadow: $inner-shadow;
      }
    }
    @keyframes linkhover-exit {
      0% {
        border-radius: $border-inner;
        background-color: $charcoal-35;
        box-shadow: $inner-shadow;
      }

      100% {

      }
    }
  } /*end nav.container thread*/

/*mq for when nav collapses to hamburger*/
  @include media-query(mobile){
    padding: 0.5em;
    & .container {
      justify-self: flex-start;
      justify-content: flex-start;
      border-radius: $border-inner;
      width: 25%;
      margin-left: 1rem;
      & a {
        padding: 0.5em;
        text-align: center;
      }
    }
  }/*end media query thread*/
}/*end nav thread*/


.main {
  margin: 5%;
  padding: 2rem;
  background-color: $charcoal-dark;
  border-radius: $border-outer;
  font-family: $font-inter;
  & h2, h3, .p-intro{
    color: $cream;
    text-align: center;
  }
  /*STYLING FOR COMPENDIUM ENTRIES PAGE*/
  // & .container {
  //   justify-content: space-around;
  //   display: flex;
  //   flex-wrap: wrap;
  //   & img {
  //     border-radius: $border-outer;
  //     padding: 1rem;
  //   }
  // }/*END ---- STYLING FOR COMPENDIUM ENTRIES PAGE*/

  /*Champions - Image Page*/
  .champion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    border-radius: $border-inner;
    border: 1px solid $grass;
    padding: 2em;
      & .champion-img {
      width: 40%;
      padding: 1rem 0;
      & img {
        border-radius: $border-inner;
        height: auto;
      }
    }
    & .champion-description {
      width: 55%;
      border-bottom: 1px solid $steel;
      padding: 1rem 0;
      h2, h3 {
        font-family: $font-syne;
      }
      & p {
        color: $cream;
      }
    }
  }
  /*media query for images page*/
  @include media-query(lg) {
    & .champion-container {
        & .champion-img {
        width: 55%;
        padding: 1rem;
      }
      & .champion-description {
        width: 40%;
        padding: 0;
        margin: 1rem 0;
      }
    }
  }

  @include media-query(mobile) {
    /*reorder to put image on top of sign descriptions*/
    .champion-container :nth-child(1) { order: 1; }
    .champion-container :nth-child(2) { order: 2; }
    .champion-container :nth-child(3) { order: 4; }
    .champion-container :nth-child(4) { order: 3; }
    .champion-container :nth-child(5) { order: 5; }
    .champion-container :nth-child(6) { order: 6; }
    .champion-container :nth-child(7) { order: 8; }
    .champion-container :nth-child(8) { order: 7; }
    & .champion-container {
        & .champion-img {
        width: 100%;
        padding: 0;
      }
      & .champion-description {
        width: 100%;
        padding: 0;
        margin: 1rem 0;
      }
    }
  } /*end images page*/

    /*ACCORDION PAGE*/
  & .accordion {
    margin: 1rem 20%;
    & .card-header {
      background-color: $forest;
      box-shadow: $inner-shadow;
      & h2 {
        text-align: left;
        & .btn-link {
          color: $grass;
          text-decoration: none;
          font-size: 1em;
          width: 100%;
          font-family: $font-syne;
        }
      }
    }
    & .card-body {
      color: $charcoal-dark;
      font-family: $font-inter;
      background-color: $steel;
      padding: 2em;
      margin: 0 0 1em 0;
      box-shadow: $shadow-2;
      border-radius: $border-inner-bottom;
      & img {
        border-radius: $border-inner;
        border: 1px solid $forest;
      }
    }
  }
  /*media query for accordion page*/
  @include media-query(mobile) {
    & .accordion {
      margin: 1rem 5%;
      & .card-body {
        padding: 1em;
      }
    }
  }
  @include media-query(tab) {
    & .accordion {
      margin: 1rem 10%;
      & .card-body {
        padding: 2em;
      }
    }
  }
  @include media-query(lg) {
    & .accordion {
      margin: 1rem 15%;
      & .card-body {
        padding: 2em;
      }
    }
  }
  @include media-query(xl) {
    & .accordion {
      margin: 1rem 25%;
      & .card-body {
        padding: 3rem;
      }
    }
  }

  /*end of Accordion page*/

  /*START GRID PAGE*/
  & .container {
    & .row {
      /*background-color: $forest;
      height: 400px;
      border: 1px solid $grass;*/
      & .col, .col-2 {
        border: 1px solid $cream;
      }
      & .astro-grid {
        margin: 0.5rem;
        background-color: $charcoal;
        border-radius: $border-inner;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        box-shadow: $shadow-1;
        & h2 {
          color: $grass;
        }
        & h3 {
          color: $steel;
          padding: 0.5rem;
        }
        & img {
          margin: 1rem;
          padding: 0 0.5rem 1rem 0.5rem;
          border-radius: $border-inner;
        }
    }
  }/*end Row*/
  @include media-query(ipad) {
    div.col-md-2 {
      writing-mode: vertical-rl;
      text-orientation: sideways;
    }
  }
  }
  /*END GRID PAGE*/
}//end .main section





/*FOOTER*/
footer {
  margin-top: 3rem;
  color: $cream;
  background-color: $forest;
  border-radius: $border-outer-top;
  border: 2px solid $forest-35;
  box-shadow: $inner-shadow;
  padding: 3px 0;
  // min-height: 12rem;
  // position: fixed;*/
  // width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1000;

  & h1 {
    font-family: $font-syne;
    text-align: center;
  }

  & p {
    font-family: $font-inter;
    text-align: center;
  }

  & a {
    font-family: $font-inter;
    color: $grass;
    font-weight: 400;
    text-decoration: none;
  }

  & a:hover {
    color: $cream;
    text-decoration: underline;
  }
}
