// Colors
$cream: #fdffe0;
$grass: #92c582;
$steel: #86a5a9;
$gray: #767676;
$black: rgb( 0,0,0);
$forest: #536f50;
$charcoal: #36454F;

//font
$font-serif: 'Rufina', serif;
$font-serif-2: 'Noto Serif', serif;
$font-syne:'Syne', sans-serif;
$font-inter: 'Inter', sans-serif;

//border radii
$border-outer: 80px;
$border-outer-bottom: 0 0 80px 80px;
$border-outer-top: 80px 80px 0 0;
$border-inner: 40px;
$border-inner-bottom: 0 0 40px 40px;
$border-inner-top: 40px 40px 0 0;
