html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
    background-color: $white;
    color: $darkgray;
}

.card-container {
  padding: 1rem;
  background-color: $white;
  border: 20px solid $darkgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  //display: inline-grid;
  //grid-template-columns: 2;
  //grid-gap: 1rem 1rem;
  max-width: 50%;
  @include media-query(mobile) {
    max-width: 100%;
  }

  & .left {
    //grid-column: 1;
    text-align: center;

    & .profile-img {
      max-width: 200px;
      border-radius: 100px;
    }
    & h2 {
        color: $darkgray;
        margin-bottom: 0.5rem;
    }
    & .caption {
      font-style: italic;
      font-weight: lighter;
      font-size: 1.25rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }
  & .right {
    //grid-column: 2;
    //margin: 0.5rem;
    background-color: $lightgray;
    align-self: stretch;
    padding: 0.5rem;
    & .bold {
      font-weight: bold;
    }
    & ul {
      list-style: none;
      padding-left: 0;
      margin-left: 1rem;
    }
    & li {
      padding-bottom: 1rem;
      margin-left: 0;
    }
    & .bug {
      max-width: 25px;
      margin-right: 0.5rem;
      margin-left: 1rem;
    }
  }
}
